@import url("shared/base.css");
@import url("shared/slide-view.css");

body {
  background: #111;
  color: #eee;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
