@import url("../shared/base.css");
@import url("../shared/slide-view.css");

body {
  background: #111;
  color: #eee;
}

#display-app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
}

.display-wait {
  font-size: 3rem;
}
